# object code and Fortran module files
*.o
*.mod
*.obj

# The compiled binaries
danfe
danmesh
danmung
danplot
danfront
danfrontg
sierpinski
# For msdos environments
*.exe
# some compile dcode - one day these will be removed or tidied up
qp_pgplot
qp_opengl
qp_ps
pl2ps_2win
/a.out


# the working copy of the platform specific makefile options
#/make.*
